.container {
  position: absolute;
  top: 72px;
  display: flex;
  flex-direction: row;
  width: 100%;
  // justify-content: space-around;
}


@media only screen and (max-width: 1300px) {
  .container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    // justify-content: space-around;
  }
}