body {
  margin: 0;
  background-color: var(--ss-bg-color);
}

// (ss) start-up summer colors
:root {
  --ss-white-color: #FFFFFF;
  --ss-bg-color: #E5E5E5;
  --ss-blue-color: #0064EB;
  --ss-grey-color: #808080;
}